// Neutral Colors
$neutral-0: #ffffff;
$neutral-1: #FDFDFD;
$neutral-2: #FCFCFB;
$neutral-3: #FAFAFA;
$neutral-4: #F9F9F8;
$neutral-5: #F7F7F6;
$neutral-10: #DFDEDD;
$neutral-20: #C6C5C3;
$neutral-30: #AEADAA;
$neutral-40: #969491;
$neutral-50: #7D7B77;
$neutral-60: #65625E;
$neutral-70: #4D4A45;
$neutral-80: #34312B;
$neutral-90: #1C1812;
$neutral-100: #000000;

// Tan Colors
$tan-lighter: #F1ECE1;
$tan-light: #E4D9C3;
$tan-default: #DDCFB4;
$tan-dark: #B1A690;
$tan-darker: #857C6C;

// Brown Colors
$brown-lighter: #978F84;
$brown-light: #74695B;
$brown-default: #514432;
$brown-dark: #31291E;
$brown-darker: #201B14;


// Spacing Variables
$space-1: 0.0625rem;  // 1px
$space-2: 0.125rem;   // 2px
$space-4: 0.25rem;    // 4px
$space-8: 0.5rem;     // 8px
$space-12: 0.75rem;   // 12px
$space-14: 0.875rem;  // 14px
$space-16: 1rem;      // 16px
$space-20: 1.25rem;   // 20px
$space-24: 1.5rem;    // 24px
$space-32: 2rem;      // 32px
$space-40: 2.5rem;    // 40px
$space-48: 3rem;      // 48px
$space-56: 3.5rem;    // 56px
$space-64: 4rem;      // 64px
$space-72: 4.5rem;    // 72px
$space-80: 5rem;      // 80px
$space-96: 6rem;      // 96px
